In [2]:
import pandas as pd
import numpy as np

In [3]:
#Pandas Series as a data structure

In [42]:
#In Millions
#The Group of Seven g7
g7_pop = pd.Series([35.467, 63.957, 80.940, 60.665, 127.067, 64.511, 318.523])

In [43]:
g7_pop

0     35.467
1     63.957
2     80.940
3     60.665
4    127.067
5     64.511
6    318.523
dtype: float64

In [44]:
g7_pop.name = 'G7 Population in Millions'

In [45]:
g7_pop

0     35.467
1     63.957
2     80.940
3     60.665
4    127.067
5     64.511
6    318.523
Name: G7 Population in Millions, dtype: float64

In [46]:
#Series are backed by numpy arrays
g7_pop.dtype

dtype('float64')

In [47]:
g7_pop.values

array([ 35.467,  63.957,  80.94 ,  60.665, 127.067,  64.511, 318.523])

In [48]:
type(g7_pop.values)

numpy.ndarray

In [49]:
g7_pop

0     35.467
1     63.957
2     80.940
3     60.665
4    127.067
5     64.511
6    318.523
Name: G7 Population in Millions, dtype: float64

In [50]:
g7_pop[0]

35.467

In [51]:
g7_pop[1]

63.957

In [52]:
g7_pop.index

RangeIndex(start=0, stop=7, step=1)

In [53]:
l = ['a', 'b', 'c']

In [54]:
#The index can explicitly be defined just like in dictionaries
g7_pop.index = [
    'Canada',
    'France',
    'Germany',
    'Italy',
    'Japan',
    'United Kingdom',
    'United States'
]

In [55]:
#Turns to more like an ordered dictionary
g7_pop

Canada             35.467
France             63.957
Germany            80.940
Italy              60.665
Japan             127.067
United Kingdom     64.511
United States     318.523
Name: G7 Population in Millions, dtype: float64

In [56]:
pd.Series({
    'Canada': 35.467,
    'France': 63.951,
    'Germany': 80.94,
    'Italy': 60.665,
    'Japan': 127.061,
    'United Kingdom': 64.511,
    'United States': 318.523
}, name='G7 Population in millions')

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [57]:
pd.Series(
    [35.467, 63.951, 80.94, 60.665, 127.061, 64.511, 318.523],
    index=['Canada', 'France', 'Germany', 'Italy', 'Japan', 'United Kingdom',
       'United States'],
    name='G7 Population in millions')

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [58]:
pd.Series(g7_pop, index=['France', 'Germany', 'Italy', 'Spain'])

France     63.957
Germany    80.940
Italy      60.665
Spain         NaN
Name: G7 Population in Millions, dtype: float64

In [59]:
g7_pop['Canada']

35.467