In [1]:
import pandas as pd

In [3]:
# Load the CSV file
file_path = 'price_of_diamonds.csv'  # Replace with your file path
data_variable = pd.read_csv(file_path)

In [4]:
# show the data type of 'data_variable'
type(data_variable)

pandas.core.frame.DataFrame

In [5]:
# Show the first 5 rows in the dataframe
data_variable.head()

,ID,carat,cut,colour,clarity,depth,price,x,y,P,PC
0,1,0.23,Ideal,E,SI2,61.5,326,1417.391304,5.300813,Negative,Negative
1,2,0.21,Premium,E,SI1,59.8,326,1552.380952,5.451505,Positive,Negative
2,3,0.23,Good,E,VS1,56.9,327,1421.739130,5.746924,Positve,Negative
3,4,0.29,Premium,I,VS2,62.4,334,1151.724138,5.352564,NR,Negative
4,5,0.31,Good,J,SI2,63.3,335,1080.645161,5.292259,NR,Negative

In [6]:
# show the first n rows in the dataframe
# data_Varibale.head(n)

data_variable.head(10)

,ID,carat,cut,colour,clarity,depth,price,x,y,P,PC
0,1,0.23,Ideal,E,SI2,61.5,326,1417.391304,5.300813,Negative,Negative
1,2,0.21,Premium,E,SI1,59.8,326,1552.380952,5.451505,Positive,Negative
2,3,0.23,Good,E,VS1,56.9,327,1421.739130,5.746924,Positve,Negative
3,4,0.29,Premium,I,VS2,62.4,334,1151.724138,5.352564,NR,Negative
4,5,0.31,Good,J,SI2,63.3,335,1080.645161,5.292259,NR,Negative
5,6,0.24,Very Good,J,VVS2,62.8,336,1400.000000,5.350318,SP,Negative
6,7,0.24,Very Good,I,VVS1,62.3,336,1400.000000,5.393258,SN,Negative
7,8,0.26,Very Good,H,SI1,61.9,337,1296.153846,5.444265,SN,Negative
8,9,0.22,Fair,E,VS2,65.1,337,1531.818182,5.176651,Negative,Negative
9,10,0.23,Very Good,H,VS1,59.4,338,1469.565217,5.690236,Negative,Negative

In [7]:
# Show the last 5 rows in the dataframe
data_variable.tail()

,ID,carat,cut,colour,clarity,depth,price,x,y,P,PC
53935,53936,0.72,Ideal,D,SI1,60.8,2757,3829.166667,45.345395,NR,SN
53936,53937,0.72,Good,D,SI1,63.1,2757,3829.166667,43.692552,SP,SN
53937,53938,0.70,Very Good,D,SI1,62.8,2757,3938.571429,43.901274,SN,SN
53938,53939,0.86,Premium,H,SI2,61.0,2757,3205.813953,45.196721,SN,SP
53939,53940,0.75,Ideal,D,SI2,62.2,2757,3676.000000,44.324759,Negative,SP

In [8]:
# Show summary statistics about the data
data_variable.describe()

,ID,carat,depth,price,x,y
count,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,26970.500000,0.797940,61.749405,3932.799722,4008.394796,63.742880
std,15571.281097,0.474011,1.432621,3989.439738,2012.665747,64.775853
min,1.000000,0.200000,43.000000,326.000000,1051.162791,5.176651
25%,13485.750000,0.400000,61.000000,950.000000,2477.944444,15.394525
50%,26970.500000,0.700000,61.800000,2401.000000,3495.198032,39.001623
75%,40455.250000,1.040000,62.500000,5324.250000,4949.599702,86.419355
max,53940.000000,5.010000,79.000000,18823.000000,17828.846150,325.852373

In [9]:
# Show only count in the summary statistics
data_variable.describe().loc['count']

ID       53940.0
carat    53940.0
depth    53940.0
price    53940.0
x        53940.0
y        53940.0
Name: count, dtype: float64

In [10]:
#Show columns in the dataframe
data_variable.columns

Index(['ID', 'carat', 'cut', 'colour', 'clarity', 'depth', 'price', 'x', 'y',
       'P', 'PC'],
      dtype='object')

In [11]:
data_variable.isnull().sum()  # Count of missing values per column

ID          0
carat       0
cut         0
colour      0
clarity     0
depth       0
price       0
x           0
y           0
P          10
PC         10
dtype: int64

In [12]:
# Get mode in column P and PC to fill the missing values
mode_P = data_variable['P'].mode()[0]
mode_P

'Negative'

In [13]:
# Get mode in column P and PC to fill the missing values
mode_PC = data_variable['PC'].mode()[0]
mode_PC

'Negative'

In [14]:
# Display rows with at least one missing value
missing_rows = data_variable[data_variable.isnull().any(axis=1)]
print("\nRows with missing values:")
print(missing_rows)

Rows with missing values:
      ID  carat        cut colour clarity  depth  price            x  \
659  660   1.27    Premium      H     SI2   59.3   2845  2240.157480
660  661   0.79      Ideal      D     SI1   61.5   2846  3602.531646
661  662   0.72  Very Good      F     VS1   60.2   2846  3952.777778
662  663   0.73      Ideal      H    VVS2   61.6   2846  3898.630137
663  664   1.01       Fair      H     SI2   65.4   2846  2817.821782
664  665   1.01       Good      H      I1   64.2   2846  2817.821782
665  666   0.73      Ideal      E     SI1   59.1   2846  3898.630137
666  667   0.70      Ideal      E     SI1   61.6   2846  4065.714286
667  668   0.70       Good      F     VS2   59.1   2846  4065.714286
668  669   0.77    Premium      E     SI1   62.9   2846  3696.103896

             y    P   PC
659  47.976391  NaN  NaN
660  46.276423  NaN  NaN
661  47.275748  NaN  NaN
662  46.201299  NaN  NaN
663  43.516820  NaN  NaN
664  44.330218  NaN  NaN
665  48.155668  NaN  NaN
666  46.201299  NaN  NaN
667  48.155668  NaN  NaN
668  45.246423  NaN  NaN

In [15]:
# Replace all missing values in column P with mode_P
data_variable['P'] = data_variable['P'].fillna(mode_P)

In [16]:
# Replace all missing values in column PC with mode_PC
data_variable['PC'] = data_variable['PC'].fillna(mode_PC)

In [17]:
data_variable['P'].isnull().sum()  # Count of missing values per column

np.int64(0)

In [18]:
# Display rows with at least one missing value
missing_rows = data_variable[data_variable.isnull().any(axis=1)]
print("\nRows with missing values:")
print(missing_rows)

Rows with missing values:
Empty DataFrame
Columns: [ID, carat, cut, colour, clarity, depth, price, x, y, P, PC]
Index: []